In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
0  100.133856         1   67          1            1              0
1  101.837355         0   28          0            0              0
2  100.987045         1    3          1           -1              1
3   99.468808         0   38          1           -1              1
4   98.481485         1   88          0           -1              1

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
2507   99.872481         1   79          1           -1              0
2508   99.426140         0   84          1           -1              1
2509  100.911669         0   16          0           -1              0
2510   99.439680         0   35          1            1              0
2511   99.108654         1    6          1            1              0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 6 columns):
fever            2512 non-null float64
bodyPain         2512 non-null int64
age              2512 non-null int64
runnyNose        2512 non-null int64
diffBreathe      2512 non-null int64
infectionProb    2512 non-null int64
dtypes: float64(1), int64(5)
memory usage: 117.9 KB

In [6]:
df['diffBreathe'].value_counts()

 0    881
 1    834
-1    797
Name: diffBreathe, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreathe,infectionProb
count,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000,2512.000000
mean,100.011608,0.476513,45.828025,0.490446,0.014729,0.486863
std,1.154460,0.499547,25.686494,0.500008,0.805807,0.499927
min,98.002826,0.000000,2.000000,0.000000,-1.000000,0.000000
25%,99.025524,0.000000,23.000000,0.000000,-1.000000,0.000000
50%,100.021236,0.000000,46.000000,0.000000,0.000000,0.000000
75%,100.990520,1.000000,68.000000,1.000000,1.000000,1.000000
max,101.999576,1.000000,90.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [9]:
np.random.permutation(7)

array([2, 6, 4, 0, 3, 1, 5])

In [10]:
train,test=data_split(df,0.2)

In [11]:
train

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
2279  101.755790         0   71          0            1              0
1626  100.122286         1   66          0           -1              1
1313   99.054828         1   51          1            1              0
942   100.588943         1   49          1           -1              0
1770   99.155347         0   31          0            0              0
...          ...       ...  ...        ...          ...            ...
1638   98.437030         1   80          1            0              0
1095  101.124776         1   73          1            1              0
1130   99.466140         0   56          0           -1              0
1294   98.954890         0   13          1            1              0
860    99.778718         1   49          1            1              0

[2010 rows x 6 columns]

In [12]:
test

           fever  bodyPain  age  runnyNose  diffBreathe  infectionProb
2081  101.137725         1   57          1           -1              1
433   101.831243         0   57          1            0              0
1724   98.472330         0   41          1            1              1
1251   99.967449         1   71          0            0              1
93    101.999576         0   27          1           -1              1
...          ...       ...  ...        ...          ...            ...
647    99.066507         0   36          0           -1              1
1703  100.732741         1   68          0            1              0
289   100.209855         0    9          1           -1              0
1619   99.857350         1   64          0            0              0
2252  101.494167         1   44          1            0              0

[502 rows x 6 columns]

In [13]:
X_train=train[['fever','bodyPain','age','runnyNose','diffBreathe']].to_numpy()
X_test=test[['fever','bodyPain','age','runnyNose','diffBreathe']].to_numpy()

In [14]:
Y_train=train[['infectionProb']].to_numpy().reshape(2010,)
Y_test=test[['infectionProb']].to_numpy().reshape(502,)

In [15]:
Y_train

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
clf=LogisticRegression()

In [18]:
clf.fit(X_train,Y_train)
# have to correct its shape acc to scikitlearn documentation

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
# clf.predict([[100,1,22,1,1]])
input_features=[100,0,22,1,0]
infprob=clf.predict_proba([input_features])[0][1]

In [20]:
infprob

0.4819900761305597